<% include includes/head %>
<body>
	<% include includes/menu %>
	<div class="col-sm-10">
		<h1><%= title %></h1>
		<ul>
		<% for (var i = 0; i < author_list.length; i++) { -%>
			<li>
            	<a href='authors/<%= author_list[i]._id %>'>
            		<%= author_list[i].family_name %>, <%= author_list[i].first_name %>
            	</a>

            	<%= author_list[i].date_of_birth %> <%= author_list[i].date_of_death %>
        	</li>
		<% } -%>
	</ul>
	</div>

</body>
</html>
